@model Jane.Models.Post

<div>
    @Html.Partial("Post", Model)
</div>

@section aside
{
@Html.Action("Future", "Blog")
@Html.Action("TagCloud", "Tag")
@Html.Action("Related", "Blog", new { slug = Model.Slug })
@Html.Action("Recent", "Blog")
}