@using Jane.Infrastructure
@model IEnumerable<Jane.Models.Post>

@section head
{
<link id="RSS" title="@SiteConfiguration.SiteName.Value" type="application/rss+xml" rel="alternate" href="@Url.Action("RssByTag", "Feed", new { tag = ViewBag.Tag })" />
<link id="ATOM" title="@SiteConfiguration.SiteName.Value" type="application/atom+xml" rel="alternate" href="@Url.Action("AtomByTag", "Feed", new { tag = ViewBag.Tag })" />
}

<h5>Results for <em>@ViewBag.Tag</em> tag:</h5>

<span>@ViewBag.Message</span>
@Html.Partial("PostList", Model)

@section aside
{
@Html.Action("Future", "Blog")
@Html.Action("TagCloud", "Tag")
@Html.Action("Recent", "Blog")
}