@model Jane.Identity.ViewModels.ChangePasswordViewModel
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(string.Empty)
    @Html.HiddenFor(m => m.HasPassword)
    if (Model.HasPassword)
    {
        <div>
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)
        </div>
    }
    <div>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>
    <input type="submit" value="@ViewBag.Title" class="button" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}