@using Jane.Infrastructure
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    @{
        var siteName = @SiteConfiguration.SiteName.Value;
        var title = siteName + " - " + ViewBag.Title;
        var baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.RawUrl;
    }

    <title>@title</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    @*Styles*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/SyntaxHighlighter/css")

    <meta name="description" content="@SiteConfiguration.Description.Value" />

    @*FeedController*@
    <link id="RSS" title="@siteName" type="application/rss+xml" rel="alternate" href="@Url.Action("Rss", "Feed")" />
    <link id="ATOM" title="@siteName" type="application/atom+xml" rel="alternate" href="@Url.Action("Atom", "Feed")" />

    @RenderSection("head", required: false)
    
    @*Windows App Metadata*@
    <meta name="application-name" content="@siteName" />
    <meta name="msapplication-TileColor" content="@SiteConfiguration.TileColor.Value" />

    @*Facebook Open Graph*@
    <meta property="og:title" content="@title" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@(baseUrl + Url.Content(SiteConfiguration.Image.Value))" />
    <meta property="og:url" content="@baseUrl" />
</head>
<body itemscope itemtype="http://schema.org/Blog">
    @Html.Partial("TopBar")

    <div class="row content-container ">
        <main class="large-8 medium-8 columns" role="main">
            @RenderBody()
        </main>
        <aside class="large-4 medium-4 columns" role="complementary">
            @RenderSection("aside", required: false)
        </aside>
    </div>

    @Html.Partial("Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/SyntaxHighlighter/js")
    <script>
        $(document).foundation();
        SyntaxHighlighter.all();
    </script>
    @RenderSection("scripts", false)
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</body>
</html>