@using Jane.Controllers
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        @*FeedController*@
        <link id="RSS" title="cleveland." type="application/rss+xml" rel="alternate" href="@Url.Action("Rss", "Feed")"/> 
        <link id="ATOM" title="cleveland." type="application/atom+xml" rel="alternate" href="@Url.Action("Atom", "Feed")"/>
    </head>
    <body>
        @RenderBody()
       
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", false)
    </body>
</html>